.compact {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  justify-content: start;
  box-sizing: border-box;
  max-width: 475px;
  height: 50dvh;

  transform: scale(75%);
  align-content: start;
}

.compact-sun {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  margin-top: none;
}

.sunrise {
  display: inline;
}

#toggle-btn {
  position: absolute;
  right: 10%;
  bottom: 5dvh;
  aspect-ratio: 1 - 1;
  height: 50px;
  width: 50px;
  border-radius: 100px;
  background-color: rgb(98, 100, 162);
  font-size: 1.2rem;
  color: white;
  border: none;
  z-index: 2;


}

#toggle-btn:hover {
  background-color: rgb(98, 100, 162);
  transform: scale(1.05);
}

.btn-shift {
  top: 50dvh;
}