:root {
  --primary-color: #ffffff;
  /* text*/
  --secondary-color: #e8e9ff;
  /* daytime light*/
  --tertiary-color: #8589ff;
  /* daytime Dark*/
  --quaternary-color: #757aff;
  /* Button */
  --quinary-color: #6264a2;
  /* night light*/
  --senary-color: #222350;
  /* night dark*/
  --septenary-color: #000000;
  /* */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

body {
  font-family: var(--primary-font);
  background: linear-gradient(
    45deg,
    rgba(133, 137, 255, 1) 50%,
    rgba(232, 233, 255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--primary-color);
  margin: 0;
  max-width: 100vw;
}

.night {
  font-family: var(--primary-font);
  background: linear-gradient(
    45deg,
    rgba(34, 35, 80, 1) 50%,
    rgba(98, 100, 163, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--primary-color);
  margin: 0;
}

body .overcast {
  font-family: var(--primary-font);
  background: linear-gradient(
    110deg,
    rgba(98, 100, 162, 1) 50%,
    rgba(232, 233, 255, 1) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--primary-color);
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 0;
  justify-self: start;
  width: 80vmax;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
}

h3 {
  font: 0.3rem;
  font-weight: 100;
  margin: 0;
}

.top-forecast {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.forecast {
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  box-sizing: border-box;
}

.daily-forecast {
  background-color: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  justify-self: center;
  align-content: space-between;
}

#forecast-icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#forecast-icon > img {
  transform: scale(75%);
}

#toggle-Btn {
  border-radius: 75% 75%;
}

ul {
  row-gap: 0;
  padding-inline-start: 0;
}

#weekly-forecast {
  display: flex;
  color: var(--septenary-color);
  background-color: var(--primary-color);
  height: 50vh;
  width: 100vw;
  text-decoration: none;
  box-sizing: border-box;
  padding: 1rem;
}

li img {
  transform: scale(50%);
  align-self: end;
}

li {
  border: solid 2px red;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
}
/* hej */
